<!DOCTYPE html>
<html xmlns: xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.com/extras/spring-security">
<head th:insert="~{layout/layout :: head}"></head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sitio web para venta de muebles de madera">
    <meta name="keywords" content="madera, puertas, ventanas, muebles, hogar, casa, aberturas">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://sdk.mercadopago.com/js/v2"></script>
</head>
<body>
    <header th:insert="~{layout/layout :: header}"></header>
    <main class="row" style="width: 100%;justify-content: center;padding: 1%;margin: 0px auto;" >
        <section class="carrito-section">
            <div id="step1" class="active">
                <h3 class="text-center">Detalles del carrito</h3>
                <hr class="custom-hr">
                <div id="cart-details">
                    <div id="cart-items">
                        <div th:each="item : ${cartItems}" th:attr="id='item-' + ${item.id}" class="item">
                            <div class="item-details">
                                <span style="color: #17183b;" class="item-name" th:text="${item.name}">Nombre del Producto</span>
                                <button class="remove-button" th:attr="onclick='removeCartItem(' + ${item.id} + ')'"><i class="bi bi-x-lg"></i></i></button>
                            </div>
                            <div class="item-controls">
                                <div class="me-auto" style="padding:0px 0px">
                                    <img th:src="@{/img/libreria3.webp}" width="73px" height="auto">
                                </div>
                                <div class="me-auto">
                                    <div style="color: #252b42;font-weight: bold;margin-bottom:5%; font-size:0.8rem">Precio unitario</div>
                                    <span class="item-price">
                                        $<span th:text="${item.price * (1 - item.discount / 100)}">Precio Unitario</span>
                                     </span>
                                </div>

                                <div class="me-auto">
                                    <div style="color: #252b42;font-weight: bold; padding-top:10%; font-size:0.8rem">Cantidad</div>
                                    <div style="display: flex;  border: 1px solid #ccc; padding: 1px; border-radius: 5px;">
                                        <button class="quantity-button"  th:attr="onclick='updateQuantity(' + ${item.id} + ', -1)'"><i style="font-size : 20px;" class="bi bi-dash"></i></button>
                                        <span class="quantity-display" th:attr="id='quantity-' + ${item.id}" >1</span>
                                        <button class="quantity-button"  th:attr="onclick='updateQuantity(' + ${item.id} + ', 1)'"><i style="font-size : 20px;" class="bi bi-plus"></i></button>
                                    </div>
                                </div>
                                <div class="me-auto">
                                    <div style="color: #252b42;font-weight: bold;margin-bottom:5%; font-size:0.8rem">Stock</div>
                                    <span class="item-price" th:attr="id='stock-' + ${item.id}" th:text="${item.stock} -1">
<!--                                        <span th:text="${item.stock}">Stock</span>-->
                                    </span>
                                </div>
                                <div class="me-auto">
                                    <div style="color: #252b42;font-weight: bold;margin-bottom:5%; font-size:0.8rem">Descuento</div>
                                    <span class="item-price">
                                        %<span th:text="${item.discount}">Precio Unitario</span>
                                     </span>
                                </div>
                                <div class="me-auto">
                                    <div style="color: #252b42;font-weight: bold;margin-bottom:5%; font-size:0.8rem">Subtotal</div>
                                    <span class="item-total" th:attr="id='item-total-' + ${item.id}">
                                       $<span th:text="${item.price * (1 - item.discount / 100) * item.quantity}">0.00</span>
                                    </span>
                                </div>
                            </div>
                            <hr class="custom-hr">
                        </div>
                    </div>
                </div>
            </div>

            <div id="step2" class="checkout-step hidden">
                <h3 class="text-center">Método de entrega</h3>
                <div class="envio">
                    <div class="mx-5 btnEnvio">
                        <input type="radio" class="btn-check" name="options-outlined" id="local" autocomplete="off" checked>
                        <label class="btn btn-outline-success btn-envio" for="local">Retirar en Local</label>
                    </div>
                    <div class="mx-5 btnEnvio">
                        <input type="radio" class="btn-check" name="options-outlined" id="casa" autocomplete="off">
                        <label class="btn btn-outline-success btn-envio" for="casa">Enviar a Domicilio</label>
                    </div>
                </div>
            </div>

            <div id="pickup-details" class="hidden checkout-step">
                <div class="envio">
                    <div class="card" style="width: 50rem;">
                        <div class="card-body">
                            <h5 class="card-title">Retiro en Local</h5>
                            <hr class="custom-hr">
                            <h6 class="card-subtitle mb-2 text-body-secondary">Datos del local</h6>
                            <p class="card-text">Dirección: Calle Falsa 123</p>
                            <hr class="custom-hr">
                            <h6 class="card-subtitle mb-2 text-body-secondary">Datos de contacto</h6>
                            <p class="card-text">Teléfono de contacto: 123456789</p>
                            <p class="card-text">Email de contacto: contacto@tienda.com</p>
                            <hr class="custom-hr">
                            <p style="margin: 8px 0px;" class="card-text"><small class="text-body-secondary">Recuerde que ante cualquier duda puede comunicarse con nostros.</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="delivery-details" class="hidden">
                <div class="envio">
                    <div class="card" style="width: 50rem;">
                        <div class="card-body">
                            <h5 class="card-title">Envio a Domicilio</h5>
                            <hr class="custom-hr">
                            <h6 class="card-subtitle mb-2 text-body-secondary">Datos para el envio</h6>
                            <form>
                                <div class="row mb-3">
                                    <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                                        <div class="input-group">
                                            <span class="input-group-text">* Nombre</span>
                                            <input type="text" class="form-control" id="inputNombre" placeholder="Nombre">
                                        </div>
                                        <span id="alertNombre" class="text-bg-danger fw-normal hidden">El apellido no puede estar vacio.</span>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-text">* Apellido</span>
                                            <input type="text" class="form-control" id="inputApellido" placeholder="Apellido">
                                        </div>
                                        <span id="alertApellido" class="text-bg-danger fw-normal hidden">El apellido no puede estar vacio.</span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                                        <div class="input-group">
                                            <span class="input-group-text">* Correo</span>
                                            <input type="email" class="form-control" id="inputEmail" placeholder="correo@ejemplo.com">
                                        </div>
                                        <span id="alertEmail" class="text-bg-danger fw-normal hidden">El correo no puede estar vacio.</span>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-text">* Teléfono</span>
                                            <input type="tel" class="form-control" id="inputTelefono" placeholder="(123) 456-7890">
                                        </div>
                                        <span id="alertTelefono" class="text-bg-danger fw-normal hidden">El telefono no puede estar vacio.</span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <span class="input-group-text">Entre Calles</span>
                                            <input type="text" class="form-control" id="inputEntreCalle" placeholder="Av.Alvear y Garcia Merou">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                                        <div class="input-group">
                                            <span class="input-group-text">* Calle</span>
                                            <input type="text" class="form-control" id="inputCalle" placeholder="Calle Falsa">
                                        </div>
                                        <span id="alertCalle" class="text-bg-danger fw-normal hidden">La calle no puede estar vacia.</span>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-text">* Altura</span>
                                            <input type="number" class="form-control" id="inputAltura" placeholder="123">
                                        </div>
                                        <span id="alertAltura" class="text-bg-danger fw-normal hidden">La altura no puede estar vacia.</span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                                        <div class="input-group">
                                            <span class="input-group-text">Barrio</span>
                                            <input type="text" class="form-control" id="inputBarrio" placeholder="Barrio ...">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-text">Casa</span>
                                            <input type="text" class="form-control" id="inputCasa" placeholder="nro de casa">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                                        <div class="input-group">
                                            <span class="input-group-text">Departamento</span>
                                            <input type="text" class="form-control" id="inputDepartamento" placeholder="nro o letra de depto">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-text">Piso</span>
                                            <input type="text" class="form-control" id="inputPiso" placeholder="nro de piso">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <span class="input-group-text">Hora de entrega</span>
                                            <div class="form-check mx-4">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Mañana 8hs a 12hs
                                                </label>
                                            </div>
                                            <div class="form-check mx-4">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    Tarde 17hs a 20hs
                                                </label>
                                            </div>
                                        </div>
                                        <span id="alertHora" class="text-bg-danger fw-normal hidden">La altura no puede estar vacia.</span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <span class="input-group-text">Descripción</span>
                                            <textarea id="inputDescripcion" class="form-control" placeholder="Agrega una descripción" aria-label="With textarea"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <hr class="custom-hr">
<!--                            <h6 class="card-subtitle mb-2 text-body-secondary">Ubicación en el Mapa</h6>-->

                            <div id="map"></div> <!-- Add Google Maps integration here -->
                            <p class="card-text"><small class="text-body-secondary">Recuerde que ante cualquier duda puede comunicarse con nostros en <a th:href="@{/contacto}">contacto</a>.</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="step3" class="checkout-step hidden">
                <h3 class="text-center">Revisión y Pago</h3>
                <div id="review-details">
                   <p>Loren insupLoren insupLoren insup Loren insupLoren insupLoren insupLoren insupvLoren insupLoren insupLoren insup Loren insupLoren insup Loren insup</p>
                </div>
            </div>

        </section>
        <section class="total-section">
            <div class="card text-center" style="height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Resumen de pedido</h5>
                    <hr class="custom-hr">
                    <div class="cart-total">
                        Total: $<span id="cart-total" th:text="${total}">0</span>
                    </div>
                    <div style="display:flex;">
                        <button id="btnStep1" class="btn-cart-step" >Continuar</button>
                    </div>
                    <div  style="display:flex;">
                        <button id="btnStep2" class="btn-cart-step hidden">Continuar</button>
                    </div>
                    <div class="btn-cart hidden" id="wallet_container" style="width:100%;"></div>
                </div>
            </div>
            <div class="text-bg-danger p-3 hidden" id="formAlert">Los campos con (*) son obligatorios</div>
        </section>
    </main>
    <footer th:insert="~{layout/layout :: footer}"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/carrito.js}"></script>
    <script th:src="@{/js/mercadopago.js}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>
</body>
</html>